# Logs
logs/
*.log
npm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build files
dist/
dist-ssr/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Editor directories and OS files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache files
.cache/
*.cache
