.reviews-section {
  text-align: center;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

.review-slider {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.review-slide {
  display: none;
  /* padding: 1.5rem; */
  background: white;
  border-radius: 8px;
}

.review-slide.active {
  display: block;
}

.review-text {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}

.reviewer-name {
  font-weight: bold;
  color: #0e5f45;
}

.review-controls {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem; */
  gap: 10px;
}

.control-btn {
  background: #0e5f45;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.control-btn:hover {
  background: #08432e;
}

.reviews-link {
  display: inline-block;
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #0e5f45;
  transition: color 0.3s;
}

.reviews-link:hover {
  color: #08432e;
}
