h1 {
  font-size: 2rem;
}

.services-summary {
  text-align: center;

  margin-top: 2rem;
}

.services-summary h2 {
  font-size: 1.8rem;
  color: #0e5f45;
  margin-bottom: 1rem;
}

.services-summary p {
  font-size: 1.2rem;
  color: #0e5f45;
  max-width: 80%;
  margin: 0 auto 1rem;
}
