.featured-reviews {
  text-align: center;
  padding: 40px 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.review-card {
  transition: transform 0.5s ease, opacity 0.5s ease;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background: rgba(250, 235, 215, 0.458);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.review-card img {
  width: 100%;
  border-radius: 10px;
  min-height: 10rem;
}

.large {
  flex: 1.1;
  transform: scale(1);
  opacity: 1;
}

.small {
  flex: 1;
  transform: scale(0.8);
  opacity: 0.6;
}

.left {
  transform: translateX(-20px) scale(0.8);
}

.right {
  transform: translateX(20px) scale(0.8);
}

.review-navigation {
  margin-top: 20px;
}

.review-navigation button {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #064b35;
  color: white;
  border-radius: 5px;
  margin: 0 5px;
}

.review-navigation button:hover {
  background: #555;
}
